<app-loadable-content [loadable]="loaded$ | async">
  <main class="main" *ngIf="(movies$ | async) as movies else emptyContent">
    <ng-container *ngIf="movies.length else moviesListEmpty">
      <h1 class="main__title">Now showing movies</h1>
      <app-movie-item *ngFor="let movie of movies" [movie]="movie"></app-movie-item>
    </ng-container>
  </main>
</app-loadable-content>

<ng-template #moviesListEmpty>
  <h2 class="main__empty-list">Ups... There's no movies with that high rating right now. Please update the review
    rating</h2>
</ng-template>

<ng-template #emptyContent>
  <p>Something went wrong.</p>
  <p>There's no any movies right now.</p>
</ng-template>
